.questionBox {
    display: grid;
    margin: auto;
    justify-content: center;
}

.answerBox {
    display: grid;
    justify-content:center;
}

.answerOption {
    display: flex;
    align-items: flex-start;
}